@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Roboto:ital,wght@0,100;0,300;1,300;1,500&display=swap');


:root {
	--color-highlight1: rgb(235, 121, 76);
	
	
	--color-back1: rgb(0 0 0);
	/* --color-back1: rgb(35 35 35); */
	
	--color-back2: rgb(32, 32, 32);
	/* --color-back2: rgb(32, 32, 52); */
	/* --color-back2: rgb(0 0 0); */
		
}

body {
	background-color: var(--color-back1);
	color: white;
	font-size: 1rem;
	margin: 0;
}

header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: space-between;

	padding: 1rem;
	background-color: var(--color-back2);
	position: fixed;
	width: 100%;
	z-index: 100;
}

.logodiv {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.logo1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 3rem;
	font-style: italic;
	color: gray;
}

.logo2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 3rem;
	font-style: italic;
	color: var(--color-highlight1);
}

header img {
	height: 3rem;
	align-self: flex-end;
	margin: 0px 10px;
}

ul.horizontal-list {
    list-style-type: none;
    padding: 0;
	margin-bottom: 0;
	margin-right: 4rem;
}

ul.horizontal-list li {
    display: inline-block;
    margin-right: 1rem;
}

ul.horizontal-list a {
	font-family: 'Roboto', sans-serif;
	font-size: 1.3rem;
	font-weight: 500;

	color: gray;
	text-decoration: none;
	transition: color 0.2s ease-in-out;
}

ul.horizontal-list a:hover {
	font-family: 'Roboto', sans-serif;
	font-size: 1.3rem;
	font-weight: 500;

	color: var(--color-highlight1);
	text-decoration: none;
}

@media (max-width: 600px) {
    .logo1 {
        font-size: 1.6em;
    }

    .logo2 {
        font-size: 1.6rem;
    }

	ul.horizontal-list a {
		font-size: 1.2rem;
	}
}


main {
	font-family: 'Lato', sans-serif;
	display: inline-block;
	padding-top: 7rem;
    overflow-y: auto;
    height: calc(100vh - 7.5rem);
}

.psection {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.imholder {
	min-height: 50vh;
}

.psection img {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	height: 100vh;

	filter: grayscale(0%);
	transition: filter 0.2s ease-in-out;
	opacity: 1;
	transition: opacity 0.2s ease-in-out;
}

.psection.low img {
	filter: grayscale(100%);
	opacity: 0.5;
}

.psection h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 2rem;
	padding: 2rem 1rem 1rem 1rem;
	margin: 0;
	color: var(--color-highlight1);
	transition: color 0.2s ease-in-out;
	z-index: 2;
	background-color: var(--color-back1);
}

.psection p {
	z-index: 2;
	padding: 2rem 2rem 3rem 2rem;
	margin: 0rem 0rem;

	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 1.4rem;	

	opacity: 1;
	background-color: var(--color-back1);
}

