<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>test</title>
	<!-- <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"> -->
	<!-- <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet"> -->
	<link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
	<header>
		<div>
			<span class="logo1">grey</span><span class="logo2">Matters</span>
		</div>
		<nav>
			<ul class="horizontal-list">
				<li><a href="#">Home</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<div class="psection">
			<h2>Human Oversight and Trustworthy deliverables</h2>
			<p>In an AI-driven world, human oversight remains crucial to ensure responsible decision-making and prevent potential biases or errors. GrayMatters' certification programs emphasize the importance of human involvement in the AI lifecycle, from development to deployment and monitoring. We evaluate organizations' mechanisms for human oversight and intervention, ensuring that AI systems are not solely in control and that human judgment can guide AI-based decisions. </p>
			<img src="../static/images/trust1.jpg" alt="human oversight">
		</div>
		
		<div class="psection">
			<h2>Transparency</h2>
			<p>Transparency is paramount for building trust and understanding among stakeholders. GrayMatters' certification programs hold organizations accountable for providing clear and accessible explanations of their AI systems, including their decision-making processes, data sources, and potential limitations. This transparency fosters informed decision-making and allows for accountability in case of AI-related issues.		</p>
			<img src="../static/images/trust2.jpg" alt="">
		</div>
		
		<div class="psection">
			<h2>Accountability</h2>
			<p>Accountability is essential for ensuring that AI systems are developed, deployed, and used responsibly. GrayMatters' certification programs evaluate organizations' accountability frameworks, ensuring that they are transparent about AI risks, identify potential harms, and have mechanisms in place to address them. This accountability instills trust among stakeholders and promotes responsible AI practices.		</p>
			<img src="../static/images/trust3.jpg" alt="">
		</div>
		
		<div class="psection">
			<h2>AI Strategy and Governance</h2>
			<p>A robust AI strategy and governance framework are essential for aligning AI initiatives with ethical principles and societal well-being. GrayMatters' certification programs assess organizations' AI strategies, governance structures, and risk management processes, ensuring that AI is not developed or deployed in a haphazard manner. This evaluation ensures that AI is used responsibly and aligns with the organization's ethical and social responsibility commitments.</p>
			<img src="../static/images/trust4.jpg" alt="">
		</div>
		
		<div class="psection">
			<h2>Empowering Responsible AI Practices</h2>
			<p>GrayMatters is committed to empowering organizations to harness AI's transformative potential while upholding ethical standards and minimizing potential harm. Our certification programs provide organizations with the guidance and tools they need to implement responsible AI practices throughout their AI lifecycle. We strive to foster a culture of responsible AI adoption, ensuring that AI is used for the betterment of society and not to the detriment of individuals or groups.		</p>
			<img src="../static/images/trust5.jpg" alt="">
		</div>

	</main>
	<footer>

	</footer>


	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
	<!-- <script src="{{ url_for('static', filename='js/index.js') }}"></script> -->
	<script src="../static/js/index.js"></script>
</body>
</html>
